.bookingdetail {
    background-color: #2395FF;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.background{
    background-image: url(../public/assets/img/ticketBackground.png);
    height:100vh;
    width: 375px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card{
    background-image: url(../public/assets/img/mybookingBackground.png);
    height: 235px;
    background-color: #2395FF;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
}