html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.mobile {
  max-width: 400px !important;
}
.desktop{
  width: 600px !important;
  height: 100%;
  display: inline-block;
}
.carousel-welcome {
  height: 70vh;
}
.caption {
  color: black !important;
}
.carousel-control-next-icon {
  display: none !important;
}
.carousel-control-prev-icon {
  display: none !important;
}
.carousel-indicators [data-bs-target] {
  height: 5px !important;
  width: 5px !important;
  border-radius: 50% !important;
  padding: 2px !important;
  background-color: #c4c4c4 !important;
}
.carousel-indicators .active {
  background-color: #2395ff !important;
}
.back-button {
  font-size: 25px;
  font-weight: bolder !important;
}
.guest {
  color: #2395ff;
  font-weight: bold;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-size: 16px;
  height: 50px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 200px;
}
.input:focus{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #2395FF !important;
  color: #555;
  box-sizing: border-box;
  font-size: 18px;
  height: 50px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 200px;
    outline: none;    
}

.input::-webkit-input-placeholder {
  color: #AAA;
}

.input:focus::-webkit-input-placeholder {
  color: dodgerblue;
  border: #2395FF;
}

.input:focus+.underline {
  transform: scale(1);
}
.see-password{
  margin-top: -7vh;
  position: inherit;
  z-index: 2 !important;
  float: right;
  font-size: 22px;
  color: #2395FF;
}
.clr-primer{
  background-color: #2395FF !important;
}
.auth{
  width: 81px !important;
  padding: 2% !important;
  border-color: #2395FF !important;
}
.link{
  text-decoration: none !important;
  color: #2395FF !important;
}


.section{
  height: 100vh;
  color: aliceblue !important;
  text-decoration: none;
}

.rm-ov-x {
  overflow-x: hidden;
}

a {
  color: #000000 !important;
}

.icons-dasboard{
  color: beige !important;
  margin-left: 1vw;
  margin-right: 1vw;}

.continer-flight{
  padding: 2%;
  width: 90vw;
  overflow: hidden;
  margin-top: -15vh;
  z-index: 2;

}
.col-destination{
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  height: 110px !important;
  margin-top: 4vh !important;
  width: 328px;
}
.col-five{
  margin-top: -2vh !important;
}
.card-title{
  color: rgb(255, 255, 255);
}
.col-datalist{
  width: 40vw !important;
  height: 45px;
  font-size: 22px;
  font-weight: 500;
  border: none;
}
.col-datalist:focus{
  outline: none;
}
.col-datalist::placeholder{
  color: black;
}
.col-datalist-end{
  width: 32vw !important;
  height: 45px;
  font-size: 22px;
  font-weight: 500;
  border: none;
  text-align: end;
}
.col-datalist-end:focus{
  outline: none;
}
.col-datalist-end::placeholder{
  color: black;
}
.to-small{
  float: right;
}
.col-arrow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2395FF;
  font-weight: bolder !important;
}
.state-col{
  float: right;
}
.btn-off{
  width: 230px;
  padding: 3% !important;
  gap: 2%;
  font-size: medium !important;
  font-weight: bold !important;
  background-color:#F0F0F0 !important;
  border: none;
  color: #595959 !important;
  border-radius: 10px;
}
.btn-offs{
  width: 230px;
  padding: 3% !important;
  gap: 2%;
  font-size: medium !important;
  font-weight: bold !important;
  background-color:#2395FF !important;
  border: none;
  color: #FFFFFF !important;
  border-radius: 10px;
}
.btn-arrow{
  width: 230px;
  padding: 3% !important;
  gap: 2% !important;
  font-size: medium !important;
  font-weight: bold !important;
  background-color:#F0F0F0 !important;
  color: #595959 !important;
  border: none !important;
  border-radius: 10px;
}
.btn-arrows{
  width: 230px;
  padding: 3% !important;
  gap: 2% !important;
  font-size: medium !important;
  font-weight: bold !important;
  background-color:#2395FF !important;
  color: #FFFFFF !important;
  border: none !important;
  border-radius: 10px;
}
.title-box{
  color: #6B6B6B;
font-weight: 500;
font-size: 14px;
}
.icons-off{
  margin-right: 1vh;
  font-weight: bolder !important;
  font-size: 22px;
  gap: 2%;
}
.date-flight{
  width: 100%;
  height: 46px;
  font-weight: bolder;
  padding: 2%;
  border: 1px solid #DDDDDD;
}
.btn-Count{
  border: none;
  gap: 2;
  font-size: 27px;
  margin: 7%;
  padding: none;
  color: #2395FF;
  height: max-content;
  background-color: none;
}
#dropdown-basic{
  width: 154px;
  padding: 6%;
  background-color: #FFFFFF !important;
  margin-left: 1vh;
  color: #000000;
  font-weight: bold;
  border: 1px solid #DDDDDD;
}
#dropdown-basics{
  width: 154px;
  padding: 6%;
  background-color: #FFFFFF !important;
  color: #000000;
  font-weight: bold;
  border: 1px solid #DDDDDD;
}
.form-check {
  display: block;
  min-height: 1.5rem !important;
  margin-bottom: 0.125rem;
}
.btn-flight{
  width: 88vw !important;
  padding: 5% !important;
  font-weight: bold !important;
  background-color: #2395FF !important;
  color: #FFFFFF !important;
  border: none;
}
.btn-flight:hover{
  width: 88vw;
  padding: 5% !important;
  font-weight: bold !important;
  background-color: #6B6B6B !important;
  color: #FFFFFF !important;
  border: none !important;

}
.btn-icons{
  float: right;
  font-size: 27px;

}

.col-left{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: #0078AA;
  position: relative;
}
.col-right{
  height: 100vh !important;
  width: 75vw !important;
  position: relative;
  overflow-y: hidden;
  padding: 2%;
  background-image: url('/public/bg.png') !important;
}
.table-flight{
  overflow: scroll;
}
.btn-add{
 float: left;
  margin-left: 2vw;
  margin-bottom: 2vh;

}