.outline{
    margin: auto;
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(#2395FF, #00B7DF);
}
.imgTopTen {
    border-radius: 50%;
  }
.card{
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;

}

.scroll{
    overflow-x: scroll;
}

.app{
    height: 100vh;
}