.slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.cardNew {
  padding: 8px;
  border: unset;
}

.cardTopTen {
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  border: unset;
}

.imgTopTen {
  padding: 7px !important;
  border-radius: 50%;
  object-fit: cover;
}
.imgNew {
  border-radius: 25px;
  object-fit: cover;
}

.labelNew {
  padding-right: 4px;
  padding-left: 4px;
}

.cardTitle {
  color: white;
}

.overlay {
  height: 85%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  border-radius: 0 0 25px 25px;
  margin-left: 4px;
  margin-bottom: -10px;
  width: 98.5%;
}


@media only screen and (max-width: 375px) {
  .overlay {
    height: 85%;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    border-radius: 0 0 25px 25px;
    margin-left: 4px;
    margin-bottom: -10px;
    width: 97%;
  }
}

.icon {
  font-size: 35px;
  display: flex;
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.textBottom {
  position: relative;
  margin-top: 15%;
  align-items: flex-end;
}

@media only screen and (max-width: 415px) {
  .textBottom {
    position: relative;
    margin-top: 25%;
    align-items: flex-end;
  }
}

.airlines {
  position: relative;
  top: -35px;
}
.airlines p {
  padding: 8px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

.outlineBlue {
  margin: 6px;
  padding: 1px;
  border-radius: 50%;
  background-image: linear-gradient(#2395FF, #00B7DF);
}

.bgLinear {
  height: 100vh;
  background-image: linear-gradient(#ededed00, #ededed);
}
